body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("../img/bg.jpg");
    background-size: cover;
}
@keyframes logo{
  0%,50%,100% { text-shadow:2px 2px 2px white;}
  25% { text-shadow:2px 2px 2px lightgreen;}
  75% { text-shadow: 2px 2px 4px yellow;}
}
.animatedLogo{
     -webkit-animation: logo 2s forwards;
    animation: logo 2s forwards;
}
#message h1{
font-family: 'Pacifico', cursive;
font-size: 450%;
}
/* Hidden image */
#animateImg{
    position: absolute;
    top:50px;
    left:-450px;
}

#gameBoard {
    width: 410px;
    height: 410px;
    margin: 20px auto;
    background-color:black;
    text-align:center;
    padding:10px;
    border-style: solid;
border-width: 16px 17px 12px;
-moz-border-image: url(../img/GameBorder.png) 26 27 22 repeat;
-webkit-border-image: url(../img/GameBorder.png) 26 27 22 repeat;
-o-border-image: url(../img/GameBorder.png) 26 27 22 repeat;
border-image: url(../img/GameBorder.png) 26 27 22 fill repeat;
}

.winMessage{
    font-size: 30px;
    color: white;
}
#playAgain{
    cursor:pointer;
    transition: transform 0.2s;
}
#playAgain:hover{
     transform: scale(1.25);
}
.tile {
    font-size: 60px;
    width: 80px;
    height: 80px;
    background-color: #EEE;
    color: black;
    text-align: center;
    border-radius:15px;
    cursor:pointer;
    transition:all 0.3s;
}
    .tile:hover {
        text-shadow: 1px 1px 2px gray;
        background-color:white;
    }
.square {
    background-color: black;
    border: solid;
    width: 84px;
    height: 84px;
    margin:2px;
    float:left;
    border-radius:15px;
}
#btn-group{
    display: inline;
    width:400px;
    margin:0 auto;
}
#gameInfo{
    color:white;
    background:black;
    border-radius: 5px;
    padding:5px;
    width:35%;
    margin:8px auto;
    text-align: left;
    font-size:120%;
}
#musicControl{
    float:right;
}
#musicControl span[id$='Music']{
    cursor:pointer;
    transition:color 0.3s;
}
#musicControl span[id$='Music']:hover{
    color:#F22;
}
button:active{
   color:black;
}
div.wrapper{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#scoreBtn{
   margin-left:5px;
}
footer p{
    font-weight: bold;
    border-top:2px groove black;
    margin-top:30px;
}
footer a{
    display:block;
    text-align: center;
    color:black;
    transition:color 0.2s;
    margin-bottom: 5px;
}
/* modal */
div#myModal{
    font-family: 'Montserrat', sans-serif;
}
ul.list-group{
    margin-top: 5px;
}
ul.list-group li:nth-child(odd){
    background-color:black;
    color:white;
}
@media screen and (max-width: 1200px){
    #gameInfo{
        text-align: center;
    }   
    #musicControl{
        display: block;
        float: none;
        border-top:1px solid rgba(255,255,255,0.3);
        margin-top: 2px;
    }
}
@media screen and (max-width: 768px){
    #gameBoard{
        width:276px;
        height:276px;
        padding:7px;
        margin:14px auto;
        border-width: 6px 7px 2px;
    }
    .tile {
    font-size: 42px;
    width: 56px;
    height: 56px;
    background-color: #EEE;
    color: black;
    text-align: center;
    border-radius:15px;
    cursor:pointer;
    transition:all 0.3s;
    }
    .square {
        background-color: black;
        border: solid;
        width: 59px;
        height: 59px;
        margin:1.4px;
        float:left;
        border-radius:15px;
    }
    aside{
        float:none;
    }
    #message h1{
        font-size: 300%;
    }
}
